* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Protest Revolution", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e8aff;
  transition: 0.5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  display: inline-block;
  color: inherit;
  font-weight: 500;
  margin-left: 2.5rem;
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textBox h2 span {
  font-size: 2rem;
}
.content .textBox p {
  color: white;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 1.5rem;
  background: inherit;
  color: inherit;
  border-radius: 3rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
}
.content .imgBox img {
  max-width: 280px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li img {
  max-width: 5rem;
  /* border: 2px solid red; */
  height: 5rem;
  object-fit: cover;
}
.thumb li:hover {
  transform: translateY(-20px);
}
